# ===============================
# AWS Credentials INFORMATION
# Do NOT check these into GitHub.
# ===============================
AWS_ACCESS_KEY_ID="..."
AWS_SECRET_ACCESS_KEY="..."

# ===============================
# AWS Region Configuration
# AWS Region that can be used:
# us-west-2
# ===============================
AWS_REGION="us-west-2"
